@font-face {
    font-family: 'minipax';
    src: url("Minipax_Medium.ttf");
}

@font-face {
  font-family: 'interval';
  src: url("Interval_Book.otf");
}

@media screen {
    
body {
    height: 100vh;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    margin: 0;
  }

  #keyword {
    width: 100%;
    font-family: "interval";
    font-size: 20px;
    border: none;
    padding: 20px;
    color: brown;
    font-weight: bold;
  }


#keyword:focus {
  outline: none;
}

tbody {
  font-family: "minipax";
  color:brown;

}
table {
  grid-template-columns: 12, 1fr;
  grid-template-rows: 12, 1fr;
  display: grid;
  border: none;
  width: 80%;
}

 p {
    white-space:normal;
    font-family: "minipax";
    color:brown;
    text-align: left;
 }



 img {
  filter: grayscale(100);
  /* width: 100%!important; */
  /* height: 130%!important; */
  /* display: none; */
  mix-blend-mode: multiply;
 }

 img:hover {
  filter: none;
 }


 td {
  height: auto;
  font-size: 1em;
  padding: 10px;
}

tr {
  border-top: solid 1px brown;
  border-right: solid 1px brown;
  /* border-left: solid 1px black; */
  height: 100px;
  display: flex;
  overflow: auto;
  resize: vertical;
}


td:nth-of-type(1) {
  font-size: 1.2em;
  width: 400px;
  font-family: 'interval';
  line-height: 1.4em;
  font-weight: bold;
  background: white;
  height: 100px;
}

  td:nth-of-type(2) {
    width: 150px;
    font-family: 'interval';
  }

  td:nth-of-type(3) {
    width: 50px;
    font-family: 'interval';
  }

  td:nth-of-type(5) {
    min-width: 200px;
    font-family: 'interval';

  }
/* 
tr:nth-of-type(2n+1){
    background-color: rgb(226, 226, 226);
  }

  td:nth-of-type(1)  {
    background-color: #1a9553;
    border-bottom: dotted 1px  rgb(226, 226, 226);
  } */

  td:nth-of-type(6),
  td:nth-of-type(7){
  min-width: 300px!important;
  max-width: 400px !important;
  font-size: 1.2em;
  }

  td:nth-of-type(7) {
   font-size: 1em;
  }

a {
  text-decoration: underline dotted 1px;
  color: brown;
      font-family: 'interval';

}

  td:nth-of-type(6) p {
    border: #ffffff dotted 1px;
    background-color:#1a9553;
    color:white;
    padding: 20px;
  }

tr:nth-of-type(1) {
 display: none;
}

  td:nth-of-type(1),
  td:nth-of-type(2),
  td:nth-of-type(3) {
    vertical-align: top;
  }


  div {
    width: max-content;
  }

  td:nth-of-type(8) {
    display: none;
  } 

  tr:nth-of-type(2n+1) td:nth-of-type(7) p {
    background-color: #ffffff;
  }


tr:nth-of-type(2n+1) td:nth-of-type(7)  span.T6,
tr:nth-of-type(2n+1) td:nth-of-type(7)  span.T7,
tr:nth-of-type(2n+1) td:nth-of-type(7)  span.T1{
    background-color:#1a9553;
    color: white;
  }

tr:nth-of-type(2n+1) td:nth-of-type(6) span.T6,
tr:nth-of-type(2n+1) td:nth-of-type(6) span.T7,
tr:nth-of-type(2n+1) td:nth-of-type(6) span.T1{
    background-color: white;
    color: #1a9553;
  }
}


@media print {
  @page {
    size:A4
  }
}





/* 
colgroup {
  display: none;
}

tr:nth-of-type(1) {
  display:none
}



img {
  width: 100%!important;
  mix-blend-mode: multiply;
}

p img {
  text-align: right!important;
}



td {
  display: flex;
  width: 7cm!important;
  padding: 0;
}

tr {
 display: block;
 page-break-after: always;
}

p {
  white-space:normal;
  font-family: "minipax";
  text-align: left;
}

