

@font-face {
  font-family: 'texte';
  src: url("Dauphine_Regular.ttf");
}

@font-face {
  font-family: 'interval';
  src: url("Dauphine_Regular.ttf");
}

@font-face {
  font-family: 'light';
  src: url("Crickx.otf");
}


@font-face {
  font-family: 'test';
  src: url("Crickx.otf");
}



body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

header {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1/2;

}

svg {
  padding: 0 0 10px 40px;
  margin: 0;
  display: block;
  position: fixed;
  bottom: 20px;
  left: 0px;
  width: 10%;
}

header h1 {
  padding: 0 0 10px 40px;
  margin: 0;
  display: block;
  position: fixed;
  bottom: 20px;
  font-size: 1.4em;
}

h1:first-of-type{
  margin: 0;
}

/* h1+p, h2+p, h3+p {
  text-indent: 40px;
} */



#presentation {
  margin:0;
  padding:0;
}

#post h1 {
  font-size: 3.4em;
  /* letter-spacing: 10px; */
  font-family: "light";
  padding-bottom: 0.7em;
  /* line-height: 1.4em; */
  font-weight: normal;
  /* color: #ff4e5c; */
  /* text-align: center; */
  color: #ff4e5c;
  border-radius: 10px;
  /* font-variant: all-petite-caps; */
  background-image: url(h1.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

#post p em {
  font-family: "interval";
}

h2,
h1,
h3,
h4 {
  font-family: 'light';
  font-weight: normal;
  color:#ff4e5c;
  padding-bottom: 10px;

  
}

h3 {
  font-size: 1.7em;
  text-align: center;
  line-height: 1.2em;
  font-family: "interval";
  margin: auto;
  padding: 10px;
  width: 70%;
  /* border-left: solid 1px #ff4e5c; */
  border-radius: 80%;
  /* box-shadow: 1px 1px #ff4e5c;  */
  /* color: #ff4e5c; */
  /* background-image:url(rayure.svg); */

}

h4 {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.3em;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 70%;
  background-image: url(h4.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

/* h3::after {
  content: " ↘";
  font-family: "texte";
   font-size: 0.6em;
} */

/* #post h2 {
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
  margin-top: 8%;
} */

#post h2 {
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  margin-top: 60px;
  font-family: "light";
  background-image: url(h2.svg);
  background-position:top;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

#one {
  grid-column: 1 / 3;
  grid-row: 2/17;
  background-color: #ffffff;  overflow: hidden;
}

#two {
  grid-row: 1/17;
  display: grid;
  grid-column: 9/11;
  overflow-y: scroll;  
  padding-left: 20px;
  /* background-color: #ffffff; */
    background-image: url("list.svg");
background-size: contain;
background-repeat: no-repeat;
margin: 20px;
padding: 20px;
}

ul li, header h1 {
  font-family: "texte";
}

#two ul {
  padding: 2px 20px 0 2px;
  height: fit-content;
  /* border-left: solid #ff4e5c 2px; */
}

#two ul li {
  list-style:none;
  font-family: "test";
  /* font-weight: bold; */
  padding-bottom: 15px;
  text-align: center;
}

#two ul li a {
  /* font-variant: small-caps; */
  color: #ff4e5c;
  font-size: 1.5em !important;
line-height: 1em !important;
font-family: "light";
}
#two ul li a:before {
  background-image: url("sup.svg");
  background-repeat: no-repeat;
}

#two ul li a:hover {
  font-weight: bold;
}


/* #two ul li a::before {
  content: "→ ";
  font-family: "texte";
  font-size: 0.6em;
}

#two ul li a::before a:hover   {
  content: "↘ ";
} */




#one ul {
  list-style: none;
  margin: 0;
}

/* #one ul li {
  transform: rotate(-10deg);
  font-family: 'test';
padding-bottom: 40px;
} */
/* 
#one ul li:nth-of-type(2n){
  transform: rotate(5deg);
  padding: 50px;
}

#one ul li:nth-of-type(2n+1) {
  transform: rotate(-5deg);
} */

#one ul li:hover {
  letter-spacing:normal;
}


#one {
  display: none;
}

/* #one ul li:nth-of-type(3),
#one ul li:nth-of-type(4), 
#one ul li:nth-of-type(5),
#one ul li:nth-of-type(6),
#one ul li:nth-of-type(7) {
  margin-left: 40px;
} */

hr {
  display: none;
}

.footnote ol li p, .footnote li::marker {
  font-family: "interval"!important;
  font-size: 1em!important;
  color: #ff4e5c;
}
#post sup {
  font-size: 0.6em;
  padding: 0px 6px 4px 6px;
  /* border-right: solid 1px #ff4e5c; */
  /* border-radius: 100%; */
  vertical-align: text-top;
  /* border-top: solid 1px #ff4e5c; */
  background-image: url(sup.svg);
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
font-family: "interval";
text-decoration: none;


}

#post sup:hover {
  background-color: #e0e5ff;
}

/* #one ul li a {
  text-decoration: none;
  color: #ff4e5c;
  font-size: 1.4em;
  border-bottom: solid 1px #ff4e5c;
} */

#one ul li a {
  text-decoration: none;
  /* color: #ff4e5c; */
  font-size: 1.4em;
  /* box-shadow: 1px 1px #ff4e5c; */
  /* background: rgb(255, 255, 255); */
  /* border-radius: 100%; */
  padding: 3% 5% 3% 5%;
/* background-repeat: no-repeat;   */
/* background-image: url(strong.svg); */
  /* background-size: cover;
  background-position: bottom; */
   color: #ff4e5c;
   font-family: "interval";
   
}


#one ul li a:hover {
  /* background-color: #ff4e5c; */
  /* color: white; */
  background-image: url("strong.svg");
  background-repeat: no-repeat;
  background-size: cover;

} 

a::active{
  background: #96a6ff;
}

#post ul li {
  padding-bottom: 2%;
  font-family: "interval";
  line-height: 1.4em;
  color: #ff4e5c;
  font-size: 1.3em;
}

/* #post ul li::before {
  content:"◊ ";
  } */



#post ul:nth-child(2) li {
  font-size: 1em;
  border: none!important;
  padding: 0px 0px 4% 0!important;
}


#post ul:nth-child(2) {
  background: none!important;
  border: none!important;
  padding: 0!important;
}



#two ul li a {
  text-decoration: none;
  color: #ff4e5c;

}

/* #two ul li a:hover {
 font-variant: small-caps;
} */

strong {
  background: #f6ffe5;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: grayscale(100);
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 60%;
}


img:hover {
  filter: none;
}


#post {
  grid-column: 2 / 9;
  grid-row: 1 /17;
  background-color: #ffffff;
  padding: 2% 20% 2% 12%;
  overflow: auto;
}

.motsclés {
  color: #ff4e5c;
  font-size: 1.4em;
}

figcaption {
  font-family: "interval";
  color: #ff4e5c;
}



blockquote p  {
  font-size: 1.4em !important;
  font-family: 'interval'!important;
}

blockquote p em,  .footnote em {
  font-size: 1em !important;
}

.motsclés span {
  font-family: 'nav'; 
  border: dotted 1px #ff4e5c;
  padding: 5px;
  line-height: 38px;
  list-style-type: none !important;
}

#post p, #post ol li {
  font-family: 'texte';
  color: #ff4e5c;
  font-size: 1.5em;
  line-height: 1.5em;
}







#post ul:nth-child(2) li:before {
  content:"→ "
}

#post blockquote p {
  margin-left: 20px;
  width: 90%;
  /* padding: 10px; */
  line-height: 1.3em;
}

#post a {
  text-decoration: underline dotted 1px #ff4e5c;
  color: #ff4e5c;
  /* font-size: 1.4em; */
}

#post a:hover {
  font-weight: bold;
}

#post img {
  width: 75%;
}


span.T2 {
  border: solid 1px #ff4e5c;
}


@media print {

  @page{
    size: A4;
    margin: 1.5cm 2cm 1.5cm 2cm;
    }


@page :left {
  margin-right: 4cm;
  }
  @page :right {
  margin-left: 4cm;
  }
/* section#one, */
section#two,
section#one {
  display:none;
}

header {
  display:none;
}

section#cover {
  page-break-after: always;
}


h1 {
  padding: 0;
  margin: 0;
}


strong {
  border: dotted 1px black;
  background-color: white;
  color: #000000;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: grayscale(100);
  max-width: 60%;
}

li::marker {
  font-size: 12px;
  color: #000000;
}

#two ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}
ul {
  border: dotted 1px #ff4e5c!important;
}

blockquote p {
  font-size: 1em !important;
  font-family: 'regular';
}

#post a {
  text-decoration: underline dotted 1px #000000;
  color: #000000;
  font-size: 14px;
}

#post sup a {
  font-size: 10px;
  padding:2px;
}

section#post {
  overflow: auto;
  width: 80%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  
}

h3 {
  color: #000000;
}

header h1, header h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  overflow: auto;
  height: 100%;
  display: block;
}
h1, h2, h3 {
  page-break-after:auto;
}



}